<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Convert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/currency}">Курс валют</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/converter}">Конвертация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/history}">Исторя конвертаций</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <h1 class="text-center">Конвертация</h1>
    <div class="mt-5">
        <form method="post" th:object="${conv}" th:action="@{/converter}" name="conv">
            <div class="container">
                <div class="row my-3">
                    <div class="col" th:if="${valueError}">
                        <div class="alert alert-danger">Конвертируемое значение не должно быть отрицательным</div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <select th:field="*{amountCurrId}" class="form-control">
                            <option th:each="c : ${currSelect}" th:value="${c.id}" th:text="|${c.chrCode} (${c.currName})|"></option>
                        </select>
                    </div>
                    <div class="col">
                        <select th:field="*{resultCurrId}" class="form-control">
                            <option th:each="c : ${currSelect}" th:value="${c.id}" th:text="|${c.chrCode} (${c.currName})|"></option>
                        </select>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <input type="text" placeholder="Enter value" name="amountCurrId" th:field="*{amount}" class="form-control">
                    </div>
                    <div class="col">
                        <output type="text" name="resultCurrId" th:text="*{result}" class="form-control"></output>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-dark">Конвертировать</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>